/* ==========================
Base Element Styles
=========================== */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

a {
    font-family: 'Roboto Slab', cursive;
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 1.3em;
    font-weight: bolder;
    border: 2px black solid;
}

p {
    font-size: 1em;    
}

h1,
h2,
h3,
h4 {
    color: black;
    text-align: center;
}

h1 {
    text-transform: capitalize;
    font-weight: 900;
}

h2 {
    text-transform: uppercase;
}


body {
    background: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
}

header {

    /* border:solid 1px red; */
    padding-top: 10px;
    background-color: turquoise;
    margin-bottom: 60px;
}

ul {
    text-align: center;
}

/* ==========================
Base Layout Styles
=========================== */

/* Navigation */

.main-nav {

    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-bottom: 30px;
}

li {
    background-color: white;
    color: rgb(37, 28, 2);
    margin: 5px 15px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 1.1em;
}

/* Header Banner*/
.main-banner {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.profile-img {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}

.profile-greet {
    text-align: center;

}

/* Main content area */

.page-name {
    margin-bottom: 40px;
}


.skills-name {
    margin: 70px auto 0px auto;
}

.skills-img {
    margin: 0;
    width: 80%;
}

.skills-list {
    margin-bottom: 70px;
}

.contact-name {
    margin-bottom: 40px;
}

.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: turquoise;
    text-align: center;
    color: rgb(75, 35, 35);
}

.skills-p {
    padding-bottom: 20px;
}

.container {
    width: 95%;
    padding-bottom: 10px;
    margin: 30px auto 30px auto;
    text-align: center;
}

.marketing-page,
.calculator,
.travel-app,
.map-spots,
.photo-gallery,
.search-page {
    padding-left: 1em;
    padding-right: 1em;
}

/* Footer */

footer {
    border-top: solid darkblue 2px;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    background-color: turquoise;
}

.footer-nav li {
    display: none;
}

.footer-name {
    text-transform: capitalize;
    float: left;
    margin-left: 20px;
}

.back-to-top {
    text-transform: uppercase;
    float: right;
    margin-right: 20px;
}


/* Media queries for 2screen sizes */

@media (min-width: 768px) {

    .main-nav li {
        display: inline-block;
        margin-left: 20px;
        background-color: turquoise;
    }

    .profile-greet {
        float: left;
        width: 65%;
        margin-left: 10px;
        padding: 0;
        text-align: left;
    }

    .profile-img {
        float: right;
        width: 30%;
        margin: 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;

    }

    .marketing-page,
    .calculator,
    .travel-app,
    .map-spots,
    .photo-gallery,
    .search-page {
        float: left;
        width: 50%;
    }

    .back-to-top {
        display: none;
    }

    .footer-nav li {
        display: inline-block;
        background-color: turquoise;

    }

    .footer-nav {
        float: right;
        margin-top: 10px;
        margin-right: 15px;
    }

}

@media (min-width: 1024px) {

    .name {
        float: left;
        margin-left: 5%;
        padding-left: 10px;
    }

    .main-nav {
        float: right;
        margin-right: 3%;
    }

    .container {
        max-width: 1150px;
    }

    .marketing-page,
    .map-spots {
        width: 33.3%;
    }

    .search-page,
    .photo-gallery {
        width: 33.3%;
    }

    .travel-app,
    .calculator {
        width: 33.3%;
    }

}

/* Clearfix */

.clearfix {
    content: " ";
    display: table;
    clear: both;

}