/* ==========================
Base Element Styles
=========================== */

* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    font-size: 1.1em;
}

h1,
h2,
h3,
h4{
    color: black;
    text-align: center;
}

h1{
    text-transform: capitalize;
    font-weight: 900;
}
h2{
    text-transform: uppercase;
}


body {
    background: white;
    font-family: 'Roboto', sans-serif;   
    line-height: 1.6em;
}

header{

    /* border:solid 1px red; */
    padding-top: 10px;
    background-color: turquoise;
    margin-bottom: 60px;
}

ul{
    text-align: center;
}

/* ==========================
Base Layout Styles
=========================== */

/* Navigation */

.main-nav{
    
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-bottom: 30px;
}

li{
    background-color: white;
    color: rgb(37, 28, 2);
    margin: 5px 15px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 1.1em;
}

/* Header Banner*/
.main-banner{
    /* border:solid 1px red; */
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.profile-img{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}
.profile-greet{
    text-align: center;
  
}

/* Main content area */

.portfolio{
    width: 95%;
    margin: 30px auto 30px auto;
    text-align: center;
}
.page-name{
    margin-bottom: 40px;
}

.skills-name{
    margin: 70px auto 0px auto;
}
.skills-img{
    margin: 0;
    width: 80%;
}

.skills-list{
    margin-bottom: 70px;
}

.contact-name{
    margin-bottom: 40px;
}

.contact{
    
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: turquoise;
    text-align: center;
  
  
}

.skills-p{
    padding-bottom: 20px;
}

.container{
    margin: 30px auto 30px auto;
    text-align: center;
}








/* Footer */

footer {
    border-top: solid darkblue 2px;
    width: 95%;
    margin: 0 auto 30px auto;
    
}

footer{
    font-size: 1.1em;
    font-weight: bold;
    background-color: turquoise;
}
.footer-name{
    text-transform: capitalize;
    float: left;
    margin-left: 20px;
}
.back-to-top{
    text-transform: uppercase;
    float: right;
    margin-right: 20px;
}

/* Clearfix */

.clearfix{
    content: " ";
    display: table;
    clear: both;
   
}